{template "header.html"}


<div class="row table-search-tool">
<form action="{SELF}" method="get">
    {dr_form_search_hidden()}
    <div class="col-md-12 col-sm-12">
        <label>
            <select name="field" class="form-control">
                <option value="id"> Id </option>
                {loop $field $t}
                {if $t.ismain}
                <option value="{$t.fieldname}" {if $param.field==$t.fieldname}selected{/if}>{$t.name}</option>
                {/if}
                {/loop}
            </select>
        </label>
        <label><i class="fa fa-caret-right"></i></label>
        <label><input type="text" class="form-control" placeholder="" value="{$param['keyword']}" name="keyword" /></label>
    </div>

    <div class="col-md-12 col-sm-12">
        <button type="submit" class="btn green btn-sm onloading" name="submit" > <i class="fa fa-search"></i> {dr_lang('搜索')}</button>
    </div>
</form>
</div>



<form class="form-horizontal" role="form" id="myform">
    {dr_form_hidden()}
    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover table-checkable dataTable">
            <thead>
            <tr class="heading">
                {if $ci->_is_admin_auth('del')}
                <th class="myselect">
                    <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="group-checkable" data-set=".checkboxes" />
                        <span></span>
                    </label>
                </th>
                {/if}
                <th width="50" style="text-align:center"> {dr_lang('状态')} </th>
                <th width="50" class="{dr_sorting('id')}" name="id">Id</th>
                <th class="{dr_sorting('name')}" name="name">{dr_lang('名称')}</th>
                <th width="160" class="{dr_sorting('inputtime')}" name="inputtime">{dr_lang('创建时间')}</th>
                <th>{dr_lang('操作')}</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $t}
            <tr class="odd gradeX" id="dr_row_{$t.id}">
                {if $ci->_is_admin_auth('del')}
                <td class="myselect">
                    <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="checkboxes" name="ids[]" value="{$t.id}" />
                        <span></span>
                    </label>
                </td>
                {/if}
                <td style="text-align:center">
                    <a href="javascript:;" onclick="dr_ajax_open_close(this, '{dr_url($uriprefix.'/hidden_edit', ['id'=>$t.id])}', 1);" class="badge badge-{if $t.disabled}no{else}yes{/if}"><i class="fa fa-{if $t.disabled}times{else}check{/if}"></i></a>
                </td>
                <td>{$t.id}</td>
                <td>{Function_list::title($t.name, $param)}</td>
                <td>{dr_date($t.inputtime, null, 'red')}</td>
                <td>
                    {if $ci->_is_admin_auth('edit')}
                    <label><a href="{dr_url($uriprefix.'/edit', ['id'=>$t.id])}" class="btn btn-xs green"> <i class="fa fa-edit"></i> {dr_lang('修改')}</a></label>
                    {/if}
                    <label><a href="javascript:dr_iframe_show('{dr_lang('接口测试')}', '{dr_url($uriprefix.'/test_index', ['id'=>$t.id])}');" class="btn btn-xs blue"> <i class="fa fa-plus"></i> {dr_lang('接口测试')}</a></label>

                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
    </div>

         <div class="row fc-list-footer table-checkable ">
             <div class="col-md-5 fc-list-select">
                {if $ci->_is_admin_auth('del')}
                <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <input type="checkbox" class="group-checkable" data-set=".checkboxes" />
                    <span></span>
                </label>
                <button type="button" onclick="dr_ajax_option('{dr_url($uriprefix.'/del')}', '{dr_lang('你确定要删除它们吗？')}', 1)" class="btn red btn-sm"> <i class="fa fa-trash"></i> {dr_lang('删除')}</button>
                {/if}
            </div>
             <div class="col-md-7 fc-list-page">
                 {$mypages}
             </div>
         </div>
</form>


{template "footer.html"}